##############################
# Global Git Ignore for BE
##############################

# Build outputs
**/target/

# IDE configuration (IntelliJ, etc.)
.idea/

# Cloudinary / secrets (copy from .env.example)
**/.env

.env